<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multiply form</title>
</head>
<body>
<h2>Formularz tabliczki mnożenia:</h2>
<form action="/multiply" method="post">
    X:<input type="number" min="1" max="1000" name="zmienna_x"/>
    <br/>
    Y:<input type="number" min="1" max="1000" name="zmienna_y"/>
    <br/>
    <input type="submit">
    <!--// guzik zatwierdzający-->
</form>

<hr> <!--// linia hr, oddzielająca formularz od tabliczki mnożenia-->
<table th:if="${((attr_x != null) && (attr_y != null))}">
    <!--#numbers - funkcja thymeleaf'owa która zawiera instrukcje liczbowe-->
    <!--sequence - metoda generująca liczby od do -->

    <tr th:each="i : ${#numbers.sequence(1, attr_x)}">
        <td th:each="j : ${#numbers.sequence(1, attr_y)}" th:text="${i*j}"><!--text wypisany tutaj--></td>
    </tr>
</table>


</body>
</html>