<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List Page</title>
</head>
<body>
<h2>Student List Page</h2>

<a href="/student/add">Add Student</a>

<table>
    <tr>
        <th>Lp.</th> <!--porządkowa-->
        <th>Name:</th>
        <th>Surname:</th>
        <th>Grades:</th>
        <th></th>
    </tr>
    <tr th:each="student,i : ${studentList}">
        <td th:text="${i.index + 1}"></td> <!--porządkowa-->
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getGrades()}"></td>
        <td>
            <a th:href="@{'/student/remove?studentId='+${i.index}}">Remove</a>
        </td><td>
            <a th:href="@{'/student/addGrade?studentId='+${i.index}}">Add Grade</a>
        </td>
    </tr>
</table>
</body>
</html>